<!-- <ion-view>

  <ion-nav-buttons side="right">
    <button type="button" class="button-icon iconeTop icon ion-android-send" ng-click="createIssueCtrl.createIssue()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button type="button" ng-click="issueCtrl.goBack()" class="ion-ios-arrow-left button-icon iconeTop"></button>
  </ion-nav-buttons>

	<ion-nav-title>
		<span class="navTitle">Add Issue</span>
	</ion-nav-title>
  	<ion-content>

		 <img style="margin-bottom: 10%" class="img_Issue" src="http://img4.hostingpics.net/pics/209880addPicture.png">


		<div style="margin: 1em">
			<h2>Picture</h2>
				<i class="iconBlack ion-ios-camera"></i>
        <button class="iconBlack ion-ios-camera"  type='button button-positive' ng-click='createIssueCtrl.takePicture()'></button>
			<h2>Description</h2>
		        <textarea class="textBloc" type="text" placeholder="add description"></textarea>
		  	<h2>Location</h2>
    			<i class="iconBlack ion-android-locate"></i>
				<div class="row">
		        	<textarea class="textBloc" type="text" placeholder="location"></textarea>
				</div>

			<h2>Tags</h2>
		        <textarea class="textBloc" type="text" placeholder="add tags"></textarea>

		<div >
    <tags-input ng-model="tags">
        <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
  </div>
		</div>
	</ion-content>


</ion-view> -->

<ion-view view-title="New Issue">

  <ion-nav-buttons side="left">
    <button type="button" ng-click="createIssueCtrl.goBack()" class="ion-ios-arrow-left button-icon iconeTop"></button>
  </ion-nav-buttons>

  <ion-content>
     <div class="item item-text-wrap">
	    <form name="commentForm">

	      <!-- Ionic uses lists to group related input elements. we place restriction rules on each field when needed -->
	      <div class="list">

	        <label class="item item-input"><h2>Description</h2></label>
	          <input type="text" placeholder="Description" ng-model="createIssueCtrl.issue.description" ngMaxlength="1000" />

	        <label class="item item-input"><h2>Tags</h2></label>
	          <input type="text" placeholder="Tags, put tags seperated by coma" ng-model="createIssueCtrl.tags" />

	        <label class="item item-input"><h2>Image url</h2></label>
	          <input type="url" pattern="^https?://(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jpg|gif|png)$
" placeholder="Image url" ngMaxlength="500" ng-model="createIssueCtrl.pictureData" />

	        <label class="item item-input"><h2>Issue type</h2></label>
		        <select ng-model="createIssueCtrl.issue.issue_type" ng-options="type as (type.description + ' - ' + type.name) for type in createIssueCtrl.issueTypes">
		        	<option value="">-- please choose a type --</option>
		        </select>



		    <label class="item item-input"><h2>Picture</h2></label>

        <button style="color: #E91C1C; background-color: white;" class="button button-full button-positive" ng-click="createIssueCtrl.takePicture()" ng-disabled="">Take picture</button>

				<img ng-if='createIssueCtrl.pictureData' width='100%'
				     ng-src='data:image/png;base64,{{ createIssueCtrl.pictureData }}' />



	      </div>

	      <!-- Display an error message here, above the submit button, if an error occurred. -->
	      <p ng-if="createCtrl.error" class="error">{{ createCtrl.error }}</p>

	      <!--
	        The submit button.
	        The "ng-click" directive indicates which scope function to call when the form is submitted.
	        The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
	      -->
	      <button style="background-color: #E91C1C;" class="button button-full button-positive" ng-click="createIssueCtrl.createIssue()" ng-disabled="">Add an issue</button>
	    </form>
      </div>
  </ion-content>
</ion-view>
