<ion-view>

  <ion-nav-buttons side="right">
    <button type="button" class="button-icon iconeTop icon ion-android-send"></button>
  </ion-nav-buttons>

	<ion-nav-title>
		<span class="navTitle">Add Issue</span>
	</ion-nav-title>
  	<ion-content>

		<!-- <img style="margin-bottom: 10%" class="img_Issue" src="http://img4.hostingpics.net/pics/209880addPicture.png"> -->


		<div style="margin: 1em">
			<h2>Picture</h2>
				<i class="iconBlack ion-ios-camera"></i>

			<h2>Description</h2>
		        <textarea class="textBloc" type="text" placeholder="add description"></textarea>
		  	<h2>Location</h2>
    			<i class="iconBlack ion-android-locate"></i>
				<div class="row">
		        	<textarea class="textBloc" type="text" placeholder="location"></textarea>
				</div>

			<h2>Tags</h2>
		        <textarea class="textBloc" type="text" placeholder="add tags"></textarea>

		<div ng-app="myApp" ng-controller="MyCtrl">
    <tags-input ng-model="tags">
        <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
</div>
		</div>
	</ion-content>


</ion-view>

