<ion-view>

  <ion-nav-buttons side="right">
    <button type="button" class="button-icon iconeTop icon ion-android-send"></button>
  </ion-nav-buttons>

	<ion-nav-title>
		<span class="navTitle">Add Issue</span>
	</ion-nav-title>
  	<ion-content>

		<!-- <img style="margin-bottom: 10%" class="img_Issue" src="http://img4.hostingpics.net/pics/209880addPicture.png"> -->


		<div style="margin: 1em">
			<h3>Picture</h3>
				<i style="font-size: 4em; margin: 0% 30% 0% 40%" class="ion-ios-camera"></i>

			<h3>Description</h3>
				<input style="width: 100%; padding: 0em 1em; border-bottom: 0.5px solid #E91C1C; border-right: 1px solid #E91C1C;" type="text" placeholder="(optional)">
		  	<h3>Location</h3>
				<input style="width: 100%; padding: 0em 1em; border-bottom: 0.5px solid #E91C1C; border-right: 1px solid #E91C1C;" type="text" placeholder="required">


			<h3>Tags</h3>
				<input style="width: 100%; padding: 0em 1em; border-bottom: 0.5px solid #E91C1C; border-right: 1px solid #E91C1C;" type="text" placeholder="tag">
		</div>
	</ion-content>


</ion-view>

