
<ion-view>

  <ion-nav-buttons side="right">
    <button type="button" class="button-icon iconeTop icon ion-android-send"></button>
  </ion-nav-buttons>

  <ion-nav-title>
    <span class="navTitle">Edit User</span>
  </ion-nav-title>

  <ion-content>

    <div class="card">
      <div class="item">
        <h2>Username</h2>
        <input class="issueDetails" type="text" placeholder="jdoe">
      </div>

      <div class="item">
        <h2>Firstname</h2>
        <input class="issueDetails" type="text" placeholder="John">
      </div>

      <div class="item">
        <h2>Lastname</h2>
        <input class="issueDetails" type="text" placeholder="Doe">
      </div>

      <div class="item">
        <h2>Phone</h2>
        <input class="issueDetails" type="text" placeholder="(460) 614-2120">
      </div>
    </div>

  </ion-content>
</ion-view>
