<ion-view>

  <ion-nav-buttons side="right">
    <button type="button" ng-click="filterCtrl.goBack()" class="button-icon iconeTop icon ion-android-done"></button>
  </ion-nav-buttons>


	<ion-nav-title>
		<span class="navTitle ion-android-options"> Filters</span>
	</ion-nav-title>
  	<ion-content>

		<div class="card">
          <!-- Under work -->
	        <!-- <label class="item item-input item-floating-label">
	        	<h2>Tags</h2>
	          	<textarea class="textBloc" type="text" placeholder="tag1, tag2, …"></textarea>
	        </label>
	        <label class="item item-input item-floating-label">
	        	<h2>Creator</h2>
	          	<textarea class="textBloc" type="text" placeholder="id user"></textarea>
	        </label>
	      	<div class="item"> -->
		        <h2>State</h2>
		        <div>
		        	<ion-checkbox class="choice" ng-true-value="'new'" ng-false-value="false" ng-model="filterCtrl.newChecked" ng-change="filterCtrl.newChange()">
			          New
			        </ion-checkbox>
			        <ion-checkbox class="choice" ng-true-value="'inProgress'" ng-false-value="false" ng-model="filterCtrl.inProgressChecked" ng-change="filterCtrl.checkboxChange()">
			          In Progress
			        </ion-checkbox>
			        <ion-checkbox class="choice" ng-true-value="'resolved'" ng-false-value="false" ng-model="filterCtrl.resolvedChecked" ng-change="filterCtrl.checkboxChange()">
			          Resolved
      		        </ion-checkbox>
			        <ion-checkbox class="choice" ng-true-value="'rejected'" ng-false-value="false" ng-model="filterCtrl.rejectedChecked" ng-change="filterCtrl.checkboxChange()">
			          Rejected
      		        </ion-checkbox>
			      </div>
	      	</div>
	    </div>

  	</ion-content>
</ion-view>
