<ion-view>

 	<ion-nav-buttons side="left">
	    <button type="button" class="button-icon iconeTop icon ion-android-search" ng-click="showFilterBar()"></button>
  	</ion-nav-buttons>

 	<ion-nav-buttons side="right">
	    <button type="button" class="button-icon iconeTop icon ion-android-options" ng-click="showFilter()"></button>
  	</ion-nav-buttons>



  <ion-content>

	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Search">
	  </label>
	</div>
    <div class="list">
	    <a class="item item-thumbnail-left" ui-sref="issueDetails({ issueId: issue.id })" ng-repeat="issue in issueCtrl.issues" href="#">
			<img src="{{issue.imageUrl}}">
      <h2 class="positive">{{issue.description}}</h2>
      <p>{{issue.state}}</p>
			<p>{{dateFormat(issue.createdAt, "mmmm dS, yyyy, h:MM:ss TT")}}</p>
	    </a>
	</div>

  </ion-content>

</ion-view>
