<ion-view>
				<ion-nav-buttons side="left">
					<button type="button" ng-click="issueDetailCtrl.goBack()" class="ion-ios-arrow-left button-icon iconeTop"></button>
				</ion-nav-buttons>

	<ion-nav-title>
		<span class="navTitle"> Issue Details</span>
	</ion-nav-title>
  <ion-content>
	<img class="img_Issue" src="{{issueDetailCtrl.issue.imageUrl}}">
	<div class="card">
		<div style="margin: 1em 1em">
			<div class="item">
				<h3>Description</h3>
					<p>{{issueDetailCtrl.issue.description}}</p>
			</div>
			<div class="item">
		  	<h3>State</h3>
				<p>{{issueDetailCtrl.issue.state}}</p>
			</div>
			<div class="item">
		  	<h3>Created at</h3>
				<p>{{issueDetailCtrl.issue.createdAt | date:'yyyy-MM-dd HH:mm'}}</p>
			</div>
			<div class="item">
			<h3>Tags</h3>
				<span ng-repeat="Tag in issueDetailCtrl.issue.tags">#{{Tag}} </span>
			</div>
			<div class="item">
			<form name="commentForm">

    		<h3>Comments</h3>
    		<div class="row">
		  		<textarea style="max-width: 100%; width: 100%; padding: 0em 1em; border-bottom: 0.5px solid #E91C1C; border-right: 1px solid #E91C1C;" type="text"
		  		ng-model="issueDetailCtrl.text" class="col" style="padding: 0em 1em; border-bottom: 0.5px solid #E91C1C; border-right: 1px solid #E91C1C;" type="text" placeholder="Your comment"></textarea>

				<button style="background-color: white; color: red;" class="button button-positive icon ion-android-send " ng-click="issueDetailCtrl.addComment()" ng-disabled=""></button>
					<!-- <div class="col send ion-android-send"></div> -->
		  	</div>

		  	<div>
					<ul>
						<li ng-repeat="Comment in issueDetailCtrl.comments" class="comment">
							<h4 style="font-weight: bold;">{{Comment.author.firstname}} {{Comment.author.lastname}} – <span style="font-style: italic;">{{Comment.createdAt | date:'yyyy-MM-dd HH:mm'}}</span></h4>
			  			<div>
			  				<p>{{Comment.text}}</p>
			  			</div>
						</li>
					</ul>

		  	</div>

			</form>
		</div>
	</div>

</ion-view>
