<ion-view>

 	<ion-nav-buttons side="right">
	    <button ui-sref="filters" type="button" class="button-icon iconeTop icon ion-android-options" ng-click="showFilter()"></button>
  	</ion-nav-buttons>

    <ion-floating-button ui-sref="addIssue" click="myEvent()" has-footer="true" button-color="#E91C1C" icon="ion-plus" icon-color="#fff">
    </ion-floating-button>
  <ion-content>



    <div class="list">
	    <a class="item item-thumbnail-left" ui-sref="tab.issueDetailsList({ issueId: issue.id })" ng-repeat="issue in issueCtrl.issues" href="#">
			<img ng-src="{{issue.imageUrl}}">
      <h2 class="positive">{{issue.description}}</h2>
      <p>{{issue.state}}</p>
			<p>{{issue.createdAt | date:'yyyy-MM-dd HH:mm'}}</p>
	    </a>
	</div>

  </ion-content>

</ion-view>
