<ion-view>

  <ion-nav-buttons side="left">
    <i class="e"></i>
    <button  type="button" class="button-icon iconeTop ion-android-locate" ng-click="mapCtrl.goToLocation()"></button>

  </ion-nav-buttons>

 	<ion-nav-buttons side="right">
	    <button ui-sref="mapFilters" type="button" class="button-icon iconeTop icon ion-android-options"></button>
	</ion-nav-buttons>

  <ion-floating-button ui-sref="addIssue" click="myEvent()" has-footer="true" button-color="#E91C1C" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>

  <ion-content scroll='false' data-tap-disabled='true'>
    <leaflet width='100%' height='100%'
             defaults='mapCtrl.defaults'
             center='mapCtrl.center'
             markers='mapCtrl.markers'>
    </leaflet>



  </ion-content>

  <!-- <ion-footer-bar style="height: 12%">
        <i ui-sref="addIssue" class="iconAdd ion-android-add-circle"></i>
  </ion-footer-bar> -->
</ion-view>
