<ion-view>

  <ion-nav-buttons side="left">
    <i class="iconeTop ion-android-locate"></i>
  </ion-nav-buttons>

 	<ion-nav-buttons side="right">
	    <button ui-sref="filters" type="button" class="button-icon iconeTop icon ion-android-options" ng-click="showFilter()"></button>
	</ion-nav-buttons>

  <ion-content scroll='false' data-tap-disabled='true'>
    <leaflet width='100%' height='100%'
             defaults='mapCtrl.defaults'
             center='mapCtrl.center'
             markers='mapCtrl.markers'>
    </leaflet>



  </ion-content>

  <ion-footer-bar style="height: 12%">
        <i ui-sref="addIssue" class="iconAdd ion-android-add-circle"></i>
  </ion-footer-bar>
</ion-view>