<ion-view view-title="Issue Map">
 	<ion-nav-buttons side="primary">
	    <a type="button" class="iconeTop icon ion-android-options"></a>
  	</ion-nav-buttons>
 	<ion-nav-buttons side="left">
	    <a type="button" class="iconeTop icon ion-android-search"></a>
  	</ion-nav-buttons>

  </ion-nav-buttons>

  <ion-content scroll='false' data-tap-disabled='true'>
    <leaflet width='100%' height='100%'
             defaults='mapCtrl.defaults'
             center='mapCtrl.center'
             markers='mapCtrl.markers'>
    </leaflet>
  </ion-content>
</ion-view>
