<ion-view>

 	<ion-nav-buttons side="left">
	    <button type="button" class="btnSearch button-icon iconeTop icon ion-android-search" ng-click="showFilterBar()"></button>
	  	<label style="visibility: hidden"class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search">
	 	</label>
  	</ion-nav-buttons>

 	<ion-nav-buttons side="right">
	    <button type="button" class="button-icon iconeTop icon ion-android-options" ng-click="showFilter()"></button>
  	</ion-nav-buttons>

  <ion-content>



    <div class="list">
	    <a class="item item-thumbnail-left" ui-sref="tab.issueDetailsList({ issueId: issue.id })" ng-repeat="issue in issueCtrl.issues" href="#">
			<img ng-src="{{issue.imageUrl}}">
      <h2 class="positive">{{issue.description}}</h2>
      <p>{{issue.state}}</p>
			<p>{{issue.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</p>
	    </a>
	</div>

  </ion-content>

</ion-view>
