<ion-view>

    <ion-nav-bar>
    </ion-nav-bar>


  <ion-content>

    <!-- A banner. Choose an image and save it as www/img/banner.jpg -->
    <!--<img src="img/banner.jpg" width="100%" alt="Citizen Engagement" />-->

    <!-- A short welcome message. -->
    <div>
      <p style="margin-top: 5%; font-size: 2em; text-align: center">Welcome to</p>
      <img style="margin: 10% 20% " width="60%" src="img/icone.png"></img>
    </div>

    <!-- The login form that the citizen must fill. -->
    <form name="loginForm">

      <!-- Ionic uses lists to group related input elements. -->
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label form">Username</span>
          <input type="text" placeholder="Username" ng-model="loginCtrl.user.name" required />
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label form">Password</span>
          <input type="password" placeholder="Password" ng-model="loginCtrl.user.password" required />
        </label>
      </div>

      <!-- Display an error message here, above the submit button, if an error occurred. -->
      <p ng-if="loginCtrl.error" class="error">{{ loginCtrl.error }}</p>

      <!--
        The submit button.
        The "ng-click" directive indicates which scope function to call when the form is submitted.
        The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
      -->

      <button style="background-color: #E91C1C;" class="button button-full button-positive" ng-click="loginCtrl.logIn()" ng-disabled="loginForm.$invalid">Log in</button>

      <button ui-sref="newUser" style="color: #E91C1C; background-color: white;" class="button button-full button-positive">Create an account</button>
    </form>
  </ion-content>
</ion-view>
