<!-- Register a new user example:
{
  "name": "jdoe",
  "password": "changeme",
  "firstname": "John",
  "lastname": "Doe",
  "phone": "(460) 614-2120",
  "roles": [
    "citizen"
  ]
} -->

<ion-view>
	<ion-nav-title>
		<span class="navTitle">Create an account</span>
	</ion-nav-title>


  <ion-content>
	<div class="list">
		<label class="item item-input item-floating-label">
			<span class="input-label form">Username</span>
			<input type="text" placeholder="Username">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label form">First Name</span>
			<input type="text" placeholder="First Name">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label form">Last Name</span>
			<input type="text" placeholder="Last Name">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label form">Phone Number</span>
			<input type="tel" placeholder="Phone Number">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label form">Phone Number</span>
			<input type="password" placeholder="Password">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label form">Confirme Phone Number</span>
			<input type="password" placeholder="Confirme Password">
		</label>

      	<button class="btn" ng-click="" ng-disabled="">Create</button>

	</div>
  </ion-content>
</ion-view>
