<!-- User details:
{
  "name": "jdoe",
  "password": "changeme",
  "firstname": "John",
  "lastname": "Doe",
  "phone": "(460) 614-2120",
  "roles": [
    "citizen"
  ]
} -->
<ion-view>


  <ion-nav-buttons side="right">
    <button type="button" ng-controller="LogoutCtrl as logoutCtrl" ng-click="logoutCtrl.logOut()" class="button-icon iconeTop icon ion-log-out"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="left">
    <button ui-sref="editUser" type="button" class="button-icon iconeTop icon ion-edit"></button>
  </ion-nav-buttons>


  <ion-content>


    <div class="card">
      <div class="item">
        <h2>Username</h2>
        <p>jdoe</p>
      </div>

      <div class="item">
        <h2>Firstname</h2>
        <p>John</p>
      </div>

      <div class="item">
        <h2>Lastname</h2>
        <p>Doe</p>
      </div>

      <div class="item">
        <h2>Phone</h2>
        <p>(460) 614-2120</p>
      </div>
    </div>

  </ion-content>
</ion-view>
