<!-- Register a new user example:
{
  "name": "jdoe",
  "password": "changeme",
  "firstname": "John",
  "lastname": "Doe",
  "phone": "(460) 614-2120",
  "roles": [
    "citizen"
  ]
} -->

<ion-view view-title="New User">
  <ion-content>
	<div class="list">
		<label class="item item-input item-floating-label">
			<span class="input-label">Username</span>
			<input type="text" placeholder="Username">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">First Name</span>
			<input type="text" placeholder="First Name">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Last Name</span>
			<input type="text" placeholder="Last Name">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Phone Number</span>
			<input type="tel" placeholder="Phone Number">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Phone Number</span>
			<input type="password" placeholder="Password">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Confirme Phone Number</span>
			<input type="password" placeholder="Confirme Password">
		</label>
      	<button class="button button-full button-positive" ng-click="newUserCtrl.logIn()" ng-disabled="loginForm.$invalid">Create a new account</button>
	</div>
  </ion-content>
</ion-view>
