<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Issue Map" icon-off="ion-map" icon-on="ion-map" ui-sref='tab.issueMap'>
    <ion-nav-view name="tab-issueMap"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Issue List" icon-off="ion-navicon-round" icon-on="ion-navicon-round" ui-sref='tab.issueList'>
    <ion-nav-view name="tab-issueList"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" ui-sref='tab.profile'>
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
</ion-tabs>
