body {
    font-family:'Open Sans', sans-serif;
    font-size: 1em;
}


.nav {
  background-color: #E91C1C;
}

.navTitle {
  color: white;
}


h1 {
    font-weight:900;
    font-size:1.5em;
    color: #E91C1C;
}


h2 {
    line-height:1em;
    color:#E91C1C;
    padding-bottom: 0.5em;
}
h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 1.5em;
    font-weight: 900;
}

.iconeTop {
  color: white;
  font-size: 2em;
  padding: 0em 0.5em;
}

.iconeTop:hover {
  color: black;

}


.btn {
  background: #E91C1C;
  background-image: -webkit-linear-gradient(top, #E91C1C, #bf1919);
  background-image: -moz-linear-gradient(top, #E91C1C, #bf1919);
  background-image: -ms-linear-gradient(top, #E91C1C, #bf1919);
  background-image: -o-linear-gradient(top, #E91C1C, #bf1919);
  background-image: linear-gradient(to bottom, #E91C1C, #bf1919);
  margin: 0em 40%;
  text-align: center;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  background: #e88d1e;
  background-image: -webkit-linear-gradient(top, #e88d1e, #cc791a);
  background-image: -moz-linear-gradient(top, #e88d1e, #cc791a);
  background-image: -ms-linear-gradient(top, #e88d1e, #cc791a);
  background-image: -o-linear-gradient(top, #e88d1e, #cc791a);
  background-image: linear-gradient(to bottom, #e88d1e, #cc791a);
  text-decoration: none;
}

.search {
  visibility: hidden;
}

.choice {
  border: none;
  font-size: 0.75em;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #E91C1C;
  border: none;
}
