body {
    font-family:'Open Sans', sans-serif;
    font-size: 1em;
}


.nav {
  background-color: #E91C1C;
}

.navTitle {
  color: white;
}

h1 {
    font-weight:900;
    font-size:1.5em;
    color: #E91C1C;
}

.text-center {
    text-align:center;
}

h2 {
    line-height:1em;
    color:#E91C1C;
}
h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 1.5em;
    font-weight: 900;
}

.iconeTop {
  color: white;
  font-size: 2em;
  padding: 0em 0.5em;
}

.iconeTop:hover {
  color: black;

}

.search {
  visibility: hidden;
}

.choice {
  font-size: 0.75em;
  border: none;
}